body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 100px;

  .filter-row {
    margin-bottom: 14px;
  }
}

.columns {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px !important;
}

.column {
  padding: 2px;
}

.loading-container {
  width: 200px;
  height: 200px;
  margin: 100px auto;

  img {
    width: 100%;
  }
}

.news-row {
  margin-bottom: 9px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
  .news-rw {
    border-bottom: 2px solid slategray;
    background-color: white;
  }
  border: 1px solid slategray;
  .columns .column {
    margin-bottom: 0px;
    border
    .level .mb-item {
      margin-right: 0px;
      background-color: aliceblue;
    }
  }

  .mb-row {
    padding: 2px;
    background-color: whitesmoke;
    text-align: center;
    text-transform: capitalize;
  }

  .ds-row {
    padding: 9px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .ds-row-title {
    background-color: whitesmoke;
  }

}

.chart-lb {
  font-size: 26px;
  margin-top: 20px;
  font-weight: '500';
}

.hdr {
  background-color: slategrey;
  text-align: center;
  color: white;
  padding: 20px;
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
}

.news-topic-header {
  padding: 9px;
  font-weight: 700;
}

.err-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.err-desc {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

.no-data {
  font-weight: 500;
  text-align: center;
}

.mb-vote {
  cursor: pointer;
}

.mb-hide {
  cursor: pointer;
}

.mb-author {
  max-width: 120px;
  overflow: hidden;
}

.upvote-icon {
  height: 20px;
  width: 20px;
  display: 'inline';
  margin-left: 3px;
  vertical-align: top;
}

.hide-icon {
  height: 20px;
  width: 20px;
  display: 'inline';
}
